<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hazardous.musicplayer" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
 >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".fragments.AudioDemo"
            android:icon="@android:drawable/ic_media_play"
            android:label="@string/title_activity_main"
            android:parentActivityName=".activities.MusicPlayerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.MusicPlayerActivity"
            android:label="@string/title_activity_music_player"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.PlayerService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".recievers.call_receiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".recievers.MusicIntentReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
